@import url("reset.css");
@import url("font.css");

/* body {} */

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.header,
.footer {
	min-height: 100px;
	font-weight: 600;
}

[class*="__container"] {
	font-size: 0;
	max-width: 1508px;
	margin: 0 auto;
	padding: 0 15px;
}

.business {
	font-family: "Roboto", sans-serif;
	color: #FFF;
	background-color: #5A54F2;
	position: relative;
	min-height: 1110px;
}

.business::before {
	content: "";
	width: 100%;
	height: 8%;
	/* padding-top: 41px; */
	background-color: #FFF;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	border-radius: 0 0 90% 90% / 0 0 50% 50%;
}

.business::after {
	content: "";
	width: 100%;
	height: 4%;
	background-color: #231F8B;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	border-radius: 50% 50% 0 0/ 90% 90% 0 0;
}

[class*="__content"] {
	font-size: 18px;
	position: relative;
}

[class*="__title"] {
	font-family: "circularSTD";
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 13px;
}

.business__cards p {
	line-height: 1.7;
	margin-bottom: 61px;
}

.button {
	border-radius: 60px;
	background-color: #F35B09;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	padding: 22px 26px;
	max-width: 256px;
}

.button:hover {
	background-color: #FFF;
	color: #F26522;
}

[class*="__img"] {
	width: 430px;
	height: 548px;
	border-radius: 20px;
	box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
	position: relative;
}

[class*="__img-box"] {
	position: relative;
}

.business__cards {
	position: relative;
}

.business__cards div {
	display: inline-block;
}

.wrap-left {}

.wrap-left::before {
	content: " ";
	position: absolute;
	top: 376px;
	left: -33px;
	background: url('../img/svg/group-7.svg') no-repeat;
	width: 213px;
	height: 472px;
	z-index: 2;
}

.wrap-left::after {
	content: " ";
	position: absolute;
	top: 168px;
	left: -95px;
	background: url('../img/svg/circle-small.svg') no-repeat;
	width: 65px;
	height: 65px;
	z-index: 2;
}

.wrap-right::before {
	content: " ";
	position: absolute;
	bottom: 144px;
	right: 0;
	background: url('../img/svg/group-8.svg') no-repeat;
	width: 472px;
	height: 213px;
	z-index: 2;
}

.wrap-right::after {
	content: " ";
	position: absolute;
	bottom: 299px;
	right: 47px;
	background: url('../img/svg/circle-middle.svg') no-repeat;
	width: 262px;
	height: 262px;
	z-index: 3;
}

.wrap-left__img-box {
	margin: 0 70px 0 63px;
	top: -41px;
	right: 0px;
	z-index: 3;
}

.wrap-left__img-box::before {
	content: " ";
	position: absolute;
	top: 210px;
	right: 132px;
	background: url('../img/svg/circle-big.svg') no-repeat;
	width: 401px;
	height: 401px;
	z-index: 4;
}

.img-left {
	top: 0px;
	right: 0px;
	z-index: 5;
}

.img-left::before {
	content: " ";
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 6;
}

.wrap-left__content {
	max-width: 602px;
	top: 138px;
	left: 0px;
	z-index: 3;
}

.text-left::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 4;
	padding-top: 137px;
}

.text-right {
	max-width: 508px;
	padding-top: 30px;
	top: 0;
	left: 268px;
	z-index: 5;
}

.text-right::before {
	content: " ";
	position: absolute;
}

.wrap-right__img-box {
	top: 0px;
	right: -262px;
	z-index: 5;
	margin-left: 70px;
}

.wrap-right__img {
	box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
}

.img-rigth {
	top: 0px;
	right: 0px;
	z-index: 6;
}

.wrap-right__img-box::before {
	content: " ";
	position: absolute;
	bottom: 530px;
	right: 273px;
	background: url('../img/svg/circle-small.svg') no-repeat;
	width: 65px;
	height: 65px;
	z-index: 8;
}

/* --- ecobazar --- */

/* .ecobazar {
}
.ecobazar__container {
} */

.ecobazar__wrap {
	font-family: "Poppins", sans-serif;
	color: #1A1A1A;
	font-size: 14px;
	line-height: 1.5;

}

.ecobazar__wrap {
	padding: 30px;
}

.products__cards:hover {
	border: 1px solid #2C742F;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.card-products {
	width: 312px;
	height: 407px;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	position: relative;
	z-index: 0;
}

.card-products__picture-wrap {}

.image-wrap {
	padding: 5px;
}

.image-wrap__link {}

.image-wrap__pic {
	width: 302px;
	height: 302px;
}

.card-products__activ {
	width: 40px;
	height: 86px;
	opacity: 0;
	visibility: hidden;
}

.products__cards:hover .card-products__activ {
	opacity: 1;
	visibility: visible;
}

.card-products__activ>* {
	margin-bottom: 6px;
}

.card-products__activ>*:last-child {
	margin-bottom: 0;
}

.activ {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 3;
}

.activ__eye:hover,
.activ__heart:hover {
	border-radius: 50%;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.card-products__info {}

.card-products__link-title {}

.card-products__caption {
	margin-bottom: 0;
}

.card-products__price {}

.card-products__change {}

.card-products__rating {}

.card-products__link-basket {
	width: 40px;
	height: 40px;
	background: url('../img/img-ecobazar/icon-basket.svg') no-repeat;

}

.card-products__link-basket:hover {
	background: url('../img/img-ecobazar/icon-basket-activ.svg') no-repeat;
}

.basket {
	border-radius: 50%;
	position: absolute;
	bottom: 24px;
	right: 16px;
	z-index: 3;
}

.card-products__info {
	padding: 12px;
}

.card-products__link-title {}

.card-products__caption {
	color: #4D4D4D;
}

.card-products__caption:hover {
	color: #2C742F;
}

.card-products__price {
	font-weight: 500;
	font-size: 16px;
}