@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
	background-color: #ff99002e;
}

.header,
.footer {
	min-height: 100px;
	font-weight: 600;
}

.page {
	font-family: "Poppins", sans-serif;
	color: #b71767;
	font-size: 24px;
}

[class*="container"] {
	background-color: #ff99007c;
	padding: 15px;
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}

img {
	margin-bottom: 10px;
}

.icon {
	padding: 30px;
}

.icon img {
	width: 60px;
	height: 60px;
}

li {
	padding-left: 20px;

}

li:not(:last-child) {
	margin-bottom: 24px;
}

span {
	padding-left: 20px;
}

.border-img {
	border-radius: 26.92% 0 26.92% 0 / 27.32% 0 27.32% 0;
}
